* {
    margin: 0;
    padding: 0;
    border: box;
    font-family: Helvetica;
}

a {
    color: orange;
}

body {
    padding-bottom: 500px;
}

.class {
    border-bottom: 1px solid red;
    padding: 2em;
    margin-bottom: 1em;
}